*{
    margin: 0;
    padding: 0;
} 
body{
    height: 100vh;
   
    box-sizing: border-box;
    /* padding-left: 26px;
    padding-right: 26px; */
    font-family: Arial, sans-serif;
    color: #1f1f1f;
    

}

a:link,a:visited,a:hover,a:active {
        color: #1f1f1f; /* Example: Sets the link color to black */
    }

.main_body{
    /* background-color: aqua; */
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 14px;
    padding: 6px;
    box-sizing: border-box;
    
    
   
}

nav>div>a{
    padding:5px;
    /* margin: 5px; */
    text-decoration: none;
    list-style: none;
    padding-left: 13px;
}

nav>div>a:first-of-type{
    margin-left: 15px;
}

.menu_right{
    display: flex;
    align-items: center;
    position: relative;
}

.toggle{
    background-color: transparent;
    border: none;
    padding: 0 8px;
    cursor: pointer;
}

.sub_menu{
    box-sizing: border-box;
    height: 460px;
    width: 340px;
    padding: 8px 0 8px 8px;
    border-radius: 32px;
    background-color: rgb(218,220,224);
    position: absolute;
    top: 60px;
    right: 30px;
    display: none; 
    overflow: hidden;
    
    
    justify-content: center;
}

.sub_menu.open-sub{
    display: block;

}

.sub_menu_layer2{

    height:100%;
    width: 100%;
    overflow-y:auto;
    border-radius: 32px;
    
}

.submenu_container{
    
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 32px;
    
    
}

.services_menu_container{
    height: auto;
    width: 100%;
    border-radius: 32px;        
    background-color: #f8fafd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 16px;
    

}

.services_menu{
    height: auto;
    width: 288px;
    border-radius: 32px;        
    background-color: #f8fafd;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 16px;
}

.services{
    box-sizing: border-box;
    width: 96px;
    height: 96px;
    padding: 6px;
    margin-bottom: 12px;
    /* background-color: #b4b2b2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services > a{
    text-decoration: none;
    text-align: center;
}

.services_design{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    /* padding: 10px; */
}



.account_DP{
    border-radius: 50%;
}


.search_container{

    /* background-color: brown; */
    width: 50%;
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 0;
}

.search_container>div{
    padding-bottom: 30px;
}

#search_google > * {
    margin-left: 6px;
}

#search_google> :first-child{
    margin-left: 15px;
}
.google_logo{
    
    padding: 0;
}

#search_google{

    width: 688px;
    height: 50px;
    /* background-color: blanchedalmond; */
    border: 1px solid #dadce0;
    border-radius:40px ;
    display: flex;
    align-items: center;
    overflow: none;
    /* padding-top: 4px;
    padding-bottom: 4px; */
}

.search_logo{
    width: 16px;
    /* padding-left: 15px; */
}

.textArea_class{
    width: 100%;
}

.textA{
    width: 100%;
    border: none;
    /* resize: none; */
}

.textArea_class{
    display: inline-block;
}

textarea{
    font-family: Google Sans, Arial, sans-serif;
    letter-spacing: 1px;
    resize:none;
    outline: none;
    line-height: 18px;
    word-wrap: break-word;
    background-color:transparent;
    overflow:hidden;
    font-size: 16px;
    display: flex;
    padding-top: 14px;

}

.icon_pad{
    margin-left: 8px;
    margin-right: 8px;
    width: 18px;
}


.search_AI{
    display: flex;
    width: 140px;

    font-size: 14px;
    justify-content: center;
    border-radius: 16px;
    margin-right: 15px ;
    padding: 6px;
    background-color: #f3f5f6;
}

.ai_image{
    width: 18px;
    margin-right: 4px;
}


.twoSearch{
    padding-left: 16px;
    padding-right: 16px;
    line-height: 27px;
    height: 36px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #3c4043;
}


.language{
    font-size: small;
}

.language>a{
    text-decoration: none;
    
}

.all_language{
    cursor: pointer;
    color: blue;
    display: inline-block;
}



.lang_english{
    display: none;
}
/* .lang_hindi{
    display: inline-block;
}
.lang_bangla{
    display: inline-block;
}
.lang_telugu{
    display: inline-block;
}
.lang_marathi{
    display: inline-block;
}
.lang_tamil{
    display: inline-block;
}
.lang_gujrati{
    display: inline-block;
}
.lang_kannada{
    display: inline-block;
}
.lang_malayalam{
    display: inline-block;
}
.lang_punjabi{
    display: inline-block;
} */






.footer{
    background-color: #f2f2f2;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    height: 10vh;
    font-size: 14px;
    
}
.footer_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.footer_top{

    align-items: center;
    margin-left: 15px;

}

.footer_text{
    margin: 0;
    padding-left: 10px;
}

hr{
    border: none;
    height: 1px;
    background-color: #dadce0 ;
}

.footer_bottom{
    display: flex;
    justify-content:space-between;
    margin-left: 15px;
    margin-right: 15px;
    
    

}

.footer_bottom>div>a{
    margin: 10px;
    text-decoration: none;
    list-style: none;
}

.setting{
    position: relative;
    cursor: pointer;
}

.setting_menu{
    display: none;
    font-size: 14px;
    max-height: auto;
    width: 158px;
    background-color: white;
    position: absolute;
    bottom: 46px;
    right: 20px;
    padding:4px 0 ;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    
}

.setting_menu.open-menu{
    display: block;
}

.setting_menu > p {
    line-height: 22px;
    
}

.setting_menu > p:hover{
    background-color: #d2d2d2;
}

.setting_text{
    padding: 4px 16px;
}

.dark_theme{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}



::-webkit-scrollbar {

    background-color: transparent;
    width: 8px;
    

}

::-webkit-scrollbar-thumb{
    background-color: #b4b2b2;
    border-radius: 100px;
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 30px;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 30px; 
}

